.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: #ffffff;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #13c089;
}

.combo-box,
.choice-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: white;
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #244363;
}

