.pane {
    -fx-background-color: #b2b2b2;
    -fx-border-color: #636363;
}

.exitButton {
    -fx-background-color: #094C70;
    -fx-text-alignment: center;
    -fx-padding: 3px;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.exitButton:hover {
    -fx-background-color: #083B60;
}

.loginButton {
    -fx-background-color: #16a0b6;
    -fx-text-alignment: left;
    -fx-padding: 3px;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-radius: 30;
}

.loginButton:hover {
    -fx-background-color: #0590a5;
}