.list-cell {
    -fx-font-family: "Arial";
    -fx-background-color:  #191c20;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
   /* -fx-background-color: #2d2d2d;*/
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}

/*.list-cell:even { !* <=== changed to even *!
    -fx-background-color: #3c3f41;
}*/

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

