.table-view{
    -fx-background-color: #191c20;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #191c20;/*#6622CC;*/

}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}


.table-view .cell {
    -fx-cell-size: 35;
    /*-fx-background-color: #28252D;*/
    -fx-background-color: #1c1c1c;
    -fx-border-color: #1c1c1c;
    /*  -fx-border-color: #29262D;*/
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-alignment: CENTER_LEFT;

}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/*.table-row-cell:selected {
   -fx-background-color: whitesmoke;
    -fx-text-background-color:  #6622CC;
}
*/

.table-view:focused .table-row-cell:selected {
    -fx-background-color: red;
    -fx-table-cell-border-color: red;
}




