.main {
    /* -fx-background-color: #1a2635;*/

    -fx-border-color: #777777;
    -fx-background-color: #2d2e31;
}

.bottom {
    /*-fx-background-color:  #1a2635;
    -fx-border-color:  #3c3f41;*/
    -fx-background-color: #2d2e31;
   /* -fx-border-color:  #3c3f41;*/
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.anchor{
    -fx-background-color: #2d2e31;
}

.left{
    -fx-background-color: #191c20;
}