.exit {
    -fx-background-color: transparent;
    /* -fx-background-radius: 30;*/
    -fx-background-insets: 0;
}

.exit:hover {
    -fx-background-color: #ff3a3d;
}

.minimize {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.minimize:hover {
    -fx-background-color: #636363;

}