.menu:hover,
.menu:showing,
.menu-item:focused {
    -fx-background-color: #094c70;
}
.menu{
 /*   -fx-background-color: #2e415d;*/

}

.menu .label, .menu-item .label {
    -fx-text-fill: white;
}

.menu .label, .menu-item .label {
    -fx-text-fill: white;
}

.menu-bar {
 /*   -fx-background-color: #2e415d;*/
    -fx-background-color: #191c20;
}
.context-menu {
    /*-fx-background-color: #1a5d81;*/
    -fx-background-color:  #2d2e31;
}