.button {
    -fx-background-color: #bc4243;
    -fx-text-alignment: center;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #ab3132;
}

.loginButton {
    -fx-background-color: #4d4d9a;
    -fx-padding: 3px;
    -fx-text-alignment: left;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.loginButton:hover {
    -fx-background-color: #375166; /*#635f51;*/
}

.exitButton {
    -fx-padding: 3px;
    -fx-background-color: #424250; /*#2d2d2d;*/
    -fx-text-alignment: center;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.exitButton:hover {
    -fx-background-color: #083B60;
}
