.text {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.text2 {
    -fx-font-family: "Arial";
    -fx-font-size: 10px;
}

.text2:hover {

}

.pane {
    -fx-background-color:  #3e3f42;/*#2d2d2d;*/
}

.pane:hover {
    -fx-background-color: #595959;
    -fx-text-fill: white;
}

.right-pane {
    -fx-background-color:#2d2e31; /* #2d2d2d;*/
    -fx-border-color: #484848;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;

}

.anchor {
    -fx-background-color:#191c20; /*#252525;*/
    -fx-border-color:  #777777;
}